   tstCurrentDate;
  <form action="/patient/postDispatcher" method="post">

    <%= text_field_tag 'dispatcher', nil,
         {:helpText=> "Dispatcher Name", 
        :field_type => "text"
    }%>
     
    <%= text_field_tag "date_dispatched",nil,
    {
    :field_type => 'date',
    :helpText => "dispatching Date",
    :value => Date.today
    }%>


   <%= select_tag 'undispatched_orders[]', options_for_select(@data),
               {:helpText => 'Orders dispatching',
                :id => "specimen_type",
                :multiple =>  true                
    }%>

    <%= submit_tag value="Submit"%>

   </form>


